.gitconfig.local

# tmux reattach-to-user-namespaceの設定
tmux-MacOSX-pasteboard/
tmuxdir/reattach-to-user-namespace

.DS_Store

# 個別設定
my-bin/1pac
my-bin/reattach-to-user-namespace

vimdir/bundle

# git管理下にしたくないが.keepは反映させて空のディレクトリを置いておきたい
# http://quartet-communications.com/info/topics/13642
secret/*
!secret/.keep
