.gitconfig.local

.DS_Store

# git管理下にしたくないが.keepは反映させて空のディレクトリを置いておきたい
# http://quartet-communications.com/info/topics/13642
secret/*
!secret/.keep

vimdir/autoload/plug.vim
vimdir/plugged/
vimdir/.mypy_cache
