.gitconfig.local
dotfiles.git/

# tmux reattach-to-user-namespaceの設定
tmux-MacOSX-pasteboard/
tmuxdir/reattach-to-user-namespace


# 個別設定
my-bin/1pac
my-bin/reattach-to-user-namespace

vimdir/bundle

.DS_Store
